#selectRoster {
   #citizens {
      .roster {
         .rosterEntry {
            .stats {
               width: 250px;

               .statsImage {
                  background: url(./images/stats_bg.png) no-repeat;
                  background-size: 85%;
                  width:300px;
                  height:50px;
               }

               #mind {
                  position: absolute;
                  width: 57px;
                  top: 0px;
                  left: -3px;
                  padding-top: 20px;
                  text-align: right;
                  color: #4bf600;
               }
               #body {
                  position: absolute;
                  width: 57px;
                  top: 0px;
                  left: 95px;
                  padding-top: 20px;
                  text-align: right;
                  color: #ff405b
               }
               #spirit {
                  position: absolute;
                  width: 57px;
                  top: 0px;
                  left: 195px;
                  padding-top: 20px;
                  text-align: right;
                  color: #00b9f6;
               }
               .arrowButton {
                  .handCursor;
                  .control;
                  position: absolute;
                  background-repeat: no-repeat;
                  background-size: contain;
                  width: 16px;
                  height: 32px;
               }

               .increment {
                  background-image: url(images/increment_button.png);
                  top: 10px;
                  left: 60px;
               }

               .decrement {
                  background-image: url(images/decrement_button.png);
                  top: 10px;
                  left: -14px;
               }

            }
         }
      }
   }
}

#stonehearthCitizenTraitCustomization {
   position: absolute;
   height: 100%;
   width: 100%;
   background-color: rgba(0, 0, 0, 0.7);
   display: flex;
   z-index: 2;

   .window {
      position: relative;
      margin: auto;
      width: 900px;
      height: 440px;
      overflow: auto;
      
      .downSection {
         height: 270px;
         margin-top: 10px;
         overflow-y: auto;

        #traits {
            position: absolute;
            left: 7px;
            top: 145px;
        }
      }
   }

   #buttons {
      position: absolute;
      left: 10px;
      right: 10px;
      bottom: 5px;

      .right {
         float: right;
      }
      .left {
         float: left;
      }
   }
}
