#selectRoster {
   #cheatMode {
      position: absolute;
      top: 115px;
      left: 845px;

      input[type=checkbox] {
         display: inline-block;
      }
      label {
         .controlFont;
         font-size: 16px;
      }
   }
   .statsTotal {
      .controlFont;
      position: absolute;
      color: palevioletred;
      bottom: 38px;
      left: 210px;

      * {
         display: inline-block;
         font-size: 18px; 
         margin-right: 5px;
      }
   }
   #traitDescriptions {
      .traitDescription {
         margin: 26px 24px 0px 10px;
         .removeIcon {
            background: url(./images/trash_button.png) no-repeat;
            background-size: contain;
            background-repeat: no-repeat;
            width: 24px;
            height: 24px;
            display: inline-block;
            margin-bottom: 6px;
         }
         .description {
            margin-left: 28px;
         }
      }
   }
   #citizens {
      .roster {
         .rosterEntry {
            .stats {
               width: 300px;

               .statsImage {
                  background: url(./images/stats_bg.png) no-repeat;
                  background-size: 85%;
                  width:300px;
                  height:50px;
               }

               #mind {
                  position: absolute;
                  width: 57px;
                  height: 57px;
                  top: 0px;
                  left: -3px;
                  text-align: right;
                  color: #4bf600;
               }
               #body {
                  position: absolute;
                  width: 57px;
                  height: 57px;
                  top: 0px;
                  left: 95px;
                  text-align: right;
                  color: #ff405b
               }
               #spirit {
                  position: absolute;
                  width: 57px;
                  height: 57px;
                  top: 0px;
                  left: 195px;
                  text-align: right;
                  color: #00b9f6;
               }

               .statValue {
                  position: absolute;
                  left: 63px;
                  top: 18px; 
               }

               .label {
                  position: absolute;
                  font-size: 14px;
                  top: 46px;
                  left: 8px;
               }

               .arrowButton {
                  .handCursor;
                  .control;
                  position: absolute;
                  background-repeat: no-repeat;
                  background-size: contain;
                  width: 32px;
                  height: 32px;
               }

               .increment {
                  background-image: url(images/up_arrow.png);
                  top: -10px;
                  left: 53px;
               }

               .hidden {
                  display: none;
               }

               .decrement {
                  background-image: url(images/down_arrow.png);
                  top: 40px;
                  left: 53px;
               }

            }
         }
      }
   }

   #add_traits {
      position: absolute;         
      right: 110px;
      bottom: 550px;

      button {
         font-size: 14px;
         padding: 4px;
         background-image: url(images/button_light_blue.png);
         border-image: url(images/button_light_blue.png) 8 8 14 8 repeat;
      }
   }
}

#beamTraitCustomization {
   position: absolute;
   height: 100%;
   width: 100%;
   background-color: rgba(0, 0, 0, 0.7);
   display: flex;
   z-index: 2;

   .window {
      position: relative;
      margin: auto;
      width: 900px;
      height: 840px;
      overflow: auto;
      
      .downSection {
         height: 670px;
         margin-top: 10px;
         overflow-y: scroll;

        #traits {
            position: inline-block;
            .traitDescription {
               .description {
                  color: white;
               }
            }
        }
      }
   }

   #buttons {
      position: absolute;
      left: 10px;
      right: 10px;
      bottom: 5px;

      .hint {
         .controlFont;
         font-size: 18px;
         margin-top:10px;
      }

      .right {
         float: right;
      }
      .left {
         float: left;
      }
   }
}
